
body {
    font-family: Arial, sans-serif;
    background-color: #151515de;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

a {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #ffffff;
    background-color: #ff0000;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #cc0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #af8d9a;
}

th {
    background-color: #000000;
}

tr:hover {
    background-color: #754040a6;
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff8f8;
    border-radius: 5px;
    background-color: #d1cccc;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #912a2a;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    border-color: #ff0000;
    outline: none;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    background-color: #151515;
    border-radius: 8px;
    padding: 20px;
}

/* Table responsiveness */
.table-responsive {
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}

/* Basic table styling for better viewing on smaller screens */
#videoTable {
    width: 100%; /* Ensure the table fits the wrapper */
    border-collapse: collapse; /* Consistent border rendering */
}

#videoTable th, #videoTable td {
    padding: 8px 12px;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
}

/* Adjust table font size and spacing on smaller devices */
@media (max-width: 600px) {
    #videoTable th, #videoTable td {
        font-size: 14px; /* Adjust font size for readability */
        padding: 6px 10px; /* Smaller padding for better fit */
    }
}

